#left {
  background: white;
  width:20%;
  float: left;
}
#right {
  background: white;
  width: 20%;
  float: left;
}
#mySidenav{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
}
#mySidenav a{
  position: absolute;
  left:-90px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;

}
#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}
#home{
  top: 20px;
  background-color: #DC143C;
}
#courses{
  top: 80px;
  background-color:#E9967A;
}
#De-stress{
  top: 140px;
  background-color:#F08080;
}
#connect{
  top:200px;
  background-color: #cb2027;
}
.fa -facebook{
  background-color:#3B5998;
  color:white;
}
.fa -instagram{
  background-color:#f09433;
  color:white;
}
.fa -pinterest{
  background-color: #cb2027;
  color: white;
}
